<p id="notice"><%= notice %></p>

<p>
  <b>Cart:</b>
  <%= @line_item.cart %>
</p>

<p>
  <b>Product size:</b>
  <%= @line_item.product_size_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @line_item.quantity %>
</p>

<p>
  <b>Cost:</b>
  <%= @line_item.cost %>
</p>


<%= link_to 'Edit', edit_line_item_path(@line_item) %> |
<%= link_to 'Back', line_items_path %>
